{% block header %}
<header>
    <div class="page-banner home-banner mb-5">
      <div class="slider-wrapper">
        <div class="owl-carousel hero-carousel">
          <div class="hero-carousel-item">
            <img src="static/assets/img/camioneta3.jpg" alt="">
            <div class="img-caption">
              <div class="subhead">Nos Comprometemos Con Tigo</div>
              <h1 class="mb-4">Tu Ayuda En Cuatro Ruedas</h1>
              <a href="#services" class="btn btn-outline-light">Saber Más</a>
            </div>
          </div>
          <div class="hero-carousel-item">
            <img src="static/assets/img/camioneta2.jpg" alt="">
            <div class="img-caption">
              <div class="subhead">¿Donde Estamos?</div>
              <h1 class="mb-4">Nos ubicamos en Colombia</h1>
              <a href="#services" class="btn btn-outline-light">Saber Más</a>
              
            </div>
          </div>
          <div class="hero-carousel-item">
            <img src="static/assets/img/camioneta.jpg" alt="">
            <div class="img-caption">
              <div class="subhead">Traslado de Mercancia</div>
              <h1 class="mb-4">Viajes de mercancia nivel nacional</h1>
              <a href="#services" class="btn btn-outline-light">Saber Más</a>
            </div>
          </div>
        </div>
      </div> <!-- .slider-wrapper -->
    </div> <!-- .page-banner -->
  </header>
{% endblock header %}