<div class="top-bar">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="d-inline-block">
          <span class="mai-mail fg-primary"></span> <a href="mailto:solcuioneslogisticas@gmail.com">solcuioneslogisticas@gmail.com</a>
        </div>
        <div class="d-inline-block ml-2">
          <span class="mai-call fg-primary"></span> <a href="tel:3118389562">+57 311 8389562</a>
        </div>
      </div>
      <div class="col-md-4 text-right d-none d-md-block">
        <div class="social-mini-button">
          <a target="blank" href="https://www.facebook.com/Soluciones-Logisticas-112025924850638/?ref=pages_you_manage"><span class="mai-logo-facebook"></span>Facebook</a>
          <a target="blank" href="https://www.instagram.com/solcuioneslogisticas/"><span class="mai-logo-instagram"></span> Instagram</a>
          <a target="blank" href="https://wa.me/573118389562?text=Hola, Estoy interesado en la renta o alquiler de un vehiculo. Me gustaria saber más información." ><span class="mai-logo-whatsapp"></span> Whatsapp</a>
        </div>
      </div>
    </div>
  </div> 
</div> 

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a href="{{"/"}}" class="navbar-brand">Soluciones<span class="text-primary">Logitistcas.</span></a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto pt-3 pt-lg-0">
        <li class="nav-item">
          <a href="{{ "/" }}" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="{{ "/nosotros" }}" class="nav-link">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a href="{{ "/services" }}" class="nav-link">Servicios</a>
        </li>
        <li class="nav-item">
          <a href="{{ '/nuestros_vehiculos' }}" class="nav-link">Nuestros vehículos</a>
        </li>
        <li class="nav-item">
          <a href="{{ "/novedades" }}" class="nav-link">Novedades</a>
        </li>
        <li class="nav-item">
          <a href="{{ "/contactanos" }}" class="nav-link">Contactanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>